<mat-card class="card shadow custom" *ngIf="!set_flag">
    <img src="../../../assets/img/undraw_forgot_password_gi2d.svg" class="rounded-circle profileImg shadow">
    <form [formGroup]="resetpassword" (ngSubmit)="update()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput formControlName="password" type="password" >
        </mat-form-field>
        <br>
        <button [disabled]=!resetpassword.valid mat-raised-button color="accent" class="send">Update</button>
    </form>
</mat-card>

<mat-card class="card shadow custom " *ngIf="set_flag">
    <img src="../../../assets/img/1024px-Twitter_Verified_Badge.svg.png"  class="profileImg shadow rounded-circle">
    <p>Password updated successfully,redirecting to login page</p>
</mat-card>
