<mat-card class="card shadow custom" *ngIf="!sent">   
<img src="../../../assets/img/undraw_forgot_password_gi2d.svg" class="rounded-circle profileImg shadow">    
<form [formGroup]="forgotForm" (ngSubmit)="send()">
<mat-form-field>   
<mat-label>Email</mat-label>
<input matInput formControlName="email">
</mat-form-field>
<!-- <mat-form-field *ngIf="false">
    <mat-label>New Password</mat-label>
    <input matInput formControlName="password">
</mat-form-field> -->
<br>
<button [disabled]=!forgotForm.valid mat-raised-button color="accent" class="send">send</button>
</form>
</mat-card>

<mat-card *ngIf="sent" class="card shadow custom">
    <p style="font-weight: bold;">please check your mail to reset your password</p>
</mat-card>

